node_modules
server/node_modules
client/node_modules
shared/node_modules
server/dist
client/dist
shared/dist
server/data/*.db
server/data/*.db-journal
server/data/*.db-wal
.env
.git
.github
*.log
npm-debug.log*
.idea
.vscode
.DS_Store
